@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = @Model.Name;
}

<h1>@Model.Name</h1>
<div>
    Id: @Model.Id
</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<a asp-action="Index" asp-controller="Home">Home</a>